.contenedor {
    background-color: #fff1ff;
    border: 5px solid #e1bee7;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    grid-template-areas:
    "header header header"
    "side main main"
    "side main main"

}


.item{
    font-size: 4rem;
}

.item-1 {
border: 5px solid pink;
background-color: #e1bee7;
grid-area: header;

}

.item-2 {
    border: 5px solid rgb(12, 154, 5);
    background-color: #15c520;
    grid-area: side;
    }

.item-3 {
    border: 5px solid rgb(28, 163, 190);
    background-color: #aec6eb;
    grid-area: main;
    }